/*общие стили*/

body{
    font-family: 'Josefin-Sans';
    margin: 0;
    padding:0;
    
}
 *{
    padding: 0;
    margin: 0;
}
.container{
   max-width: 1200px;
    margin: 0 auto;

    
}
/* шапка*/
.header{
    color: #fff;
    background: url(./images/desktop/image-hero.jpg) no-repeat;
    background-size: 100%;
    font-family: 'Alata';

}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 14rem;
}
.header__logo{
    font-size: 20px;
    font-weight: 700;
}
/*меню*/
.menu__items{
    list-style: none;
    display: flex;
}
.menu__item-align{
    margin-left: 1rem;
}
.menu__item:hover{
    cursor:pointer;
    border-bottom: 2px solid #fff;
}

.header__subtitle{
    margin-top: 5rem;
    display: flex;
    max-width: 300px;
    text-transform: uppercase;
    font-family: 'Josefin-Sans';
    font-size: 40px;
    border:  2px solid #fff;
    padding: 1.5rem;

}
/*interactive*/

.interective__wrapper{
    margin-top: 16rem;   
    display: flex;
}
.interective__text{
    position: relative;
    top: 200px;
    right: 0;
    background: #fff;
   padding-top: 3rem;
   padding-left: 8rem;
   padding-right: 8rem;
    font-family: 'Alata';
    right: 150px;
    
}
.interactive__title{
    display: flex;
    text-transform: uppercase;
    font-family: 'Josefin-Sans';
    font-size: 40px;

}
.interactive__subtitle{
    color: #797979;
    white-space: nowrap;
}
.interactive__button{
    margin-top: 12rem;
    display: flex;
    justify-content: flex-end;


}

.btn-interactive{
    text-transform: uppercase;
    color: #fff;
    background: #000;
    padding: 1rem 1.5rem;

}

.btn-interactive:hover{
    cursor:pointer;
}

.creations__wrapper{
    position: relative;
    bottom:1;
}

/*criations*/
.criations__title{
    display: flex;
    text-transform: uppercase;
    font-family: 'Josefin-Sans';
    font-size: 40px;
    margin-top: 9rem;  
}
.criations__wraper{
    display: flex;
    flex-direction: column;
    
}

.criations__items>img{
    position: absolute;
}

.creations__item>.criations__title{
    text-align: center;
   

}
.criations__items{
    display: flex;
    margin-top: 5rem;

}
.criations__item{
    position: relative;
    color: #fff;
    
}


.criations__item-align{
    margin-left: 3.4rem;
}
.criations__item:hover{
    cursor: pointer;
    color: #0a0a0a;
    opacity: 0.6;
    
}
.creations__title--cardCreates{
    margin-top: 0;
    position: absolute;
    bottom: 1rem;
    left: 1.3rem;
}

/*fotter*/

.footer{
    background-color: #000;
    color: #fff;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 16rem;
    padding-top: 4rem;
    padding-bottom: 2rem;

}
.footer__logo{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
}
.footer__icons{
    display: flex;
}
.footer__text{
    margin-top: 2rem;
}
.footer__icon-align{
    margin-left: 1rem;
}
.footer__icon:hover{
    cursor: pointer;
    border-bottom: 1px solid #fff;

}