/*общие стили*/

body{
    font-family: 'Josefin-Sans';
    margin: 0;
    padding:0;
    
}

 *{
    padding: 0;
    margin: 0;
}
.container{
   max-width: 1200px;
    margin: 0 auto;

    
}
/* шапка*/
.header{
    color: #fff;
    background: url(./images/desktop/image-hero.jpg) no-repeat;
    background-size: cover;
    font-family: 'Alata';

}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 14rem;
}
.header__logo{
    font-size: 20px;
    font-weight: 700;
}
/*меню*/
.menu__items{
    list-style: none;
    display: flex;
    color: #fff;
    font-weight: bold;
}
.menu__item{
    position: relative;
}
/*полоска при наведении*/
.menu__item:hover::after{
    position: absolute;
    content: "";
    width: 2rem;
    height: 0.3rem;
    background-color: #fff;
    top: 2rem;
    left: 15%;
    
}
.menu__item-align{
    margin-left: 1rem;
}
.menu__item:hover{
    cursor:pointer;

}

.header__subtitle{
    margin-top: 5rem;
    display: flex;
    max-width: 300px;
    text-transform: uppercase;
    font-family: 'Josefin-Sans';
    font-size: 40px;
    border:  2px solid #fff;
    padding: 1.5rem;

}
/*interactive*/

.interective__wrapper{
    margin-top: 16rem;   
    display: flex;
}
.interective__text{
    position: relative;
    top: 200px;
    right: 0;
    background: #fff;
   padding-top: 3rem;
   padding-left: 8rem;
   padding-right: 8rem;
    font-family: 'Alata';
    right: 150px;
    
}
.interactive__title{
    display: flex;
    text-transform: uppercase;
    font-family: 'Josefin-Sans';
    font-size: 40px;

}
.interactive__subtitle{
    color: #797979;
    white-space: nowrap;
}
.interactive__button{
    margin-top: 12rem;
    display: flex;
    justify-content: flex-end;


}

.btn-interactive{
    text-transform: uppercase;
    color: #fff;
    background: #000;
    padding: 1rem 1.5rem;

}

.btn-interactive:hover{
    cursor:pointer;
}

.creations__wrapper{
    position: relative;
    bottom:1;
}

/*criations*/
.criations__title{
    display: flex;
    text-transform: uppercase;
    font-family: 'Josefin-Sans';
    font-size: 40px;
    margin-top: 9rem;  
}
.criations__wraper{
    display: flex;
    flex-direction: column;
    
}

.criations__items>img{
    position: absolute;
}

.creations__item>.criations__title{
    text-align: center;
   

}
.criations__items{
    display: flex;
    margin-top: 5rem;

}
.criations__item{
    position: relative;
    color: #fff;
    
}


.criations__item-align{
    margin-left: 3.4rem;
}

.criations__item:hover{
    cursor: pointer;
    color: #0a0a0a;
    
}


.creations__title--cardCreates{
    margin-top: 0;
    position: absolute;
    bottom: 2rem;
    left: 1.3rem;
}

/*fotter*/

.footer{
    background-color: #000;
    color: #fff;

    
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16rem;
    padding-top: 4rem;
    padding-bottom: 2rem;

}
.footer__logo{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: 'Alata';
    
}
.footer__icons{
    display: flex;
}
.footer__text{
    margin-top: 2rem;
    color: '#575757';
}
.footer__icon-align{
    margin-left: 1rem;
}
.footer__icon:hover{
    cursor: pointer;
    border-bottom: 1px solid #fff;

}




.img-desktop{
    display: block;
}
.btn-criations{
    display: none;
}
.img-mobile{
    display: none;
}
.menu{
    display: block;
}
.header__burger{
    display:none;
}

.header__top-mobile{
    position: relative;
    background-color: #000;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1rem;
    padding-bottom: 100%;
    display: none;
}
.menu__items-burger{
    flex-direction: column;
    text-transform: uppercase;
    display: flex;

}
@media(max-width:1200px){
    .container{
        max-width: 800px;
    }
    .header__burger{
        display:block;
        margin-right: 1rem;
    }
    .menu__close{
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .menu__close:hover{
        cursor: pointer;
    }
    .menu-burger{
        display: block;
    }
    .menu__items-burger{
        top: 4rem;
        position: absolute;
    }
    .menu__items-burger>.menu__item{
        margin-top: 1rem;
       

    }
    .header__burger:hover{
        cursor: pointer;
    }
    .img-mobile{
        display: block;
        margin-top: 1rem;
    }
    .img-desktop{
        display: none;
    }
    .criations__items{
     flex-direction: column;
     align-items: center;

    }
    .criations__item-align{
        margin-left: 0;
    }
    .interective__wrapper{
        flex-direction: column;

    }
    .interective__text{
        position: static;
       text-align: center;
    }
    .interactive__title{
        justify-content: center;
    }
    .criations__title{
        margin-top: 15rem;
        justify-content: center;
    }
    .interactive__button{
        display: none;
    }
    .btn-criations{
        display: flex;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        margin-top: 6rem;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid #000; 
        background-color: #fff;  
        font-size: 20px;
       
    }
    .btn-criations:hover{
       cursor: pointer;
    }
    .header{
        background: url(./images/mobile/image-hero.jpg) no-repeat;
        background-size: cover;
    }
    .interective__img{
        display: flex;
        justify-content: center;
    }
    .menu{
        display: none;
    }
    .menu-footer{
        display: flex;
        justify-content: center;
    }
}
@media(max-width:768px){
    .container{
        max-width: 668px;
    }
    .footer__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__items-mobile{
        flex-direction: column;
        align-items: center;
        font-size: 20px;
    }
    .menu__items-mobile>.menu__item{
        margin-top: 2rem;

    }
    .footer__icons{
        justify-content: center;
        margin-top: 2rem;
    }
    .interactive__subtitle{
        white-space: normal;
    }
    .interactive-img{
        width: 450px;
    }
}

@media(max-width:576px){
    .container{
        max-width: 490px;
    }
    .img-mobile{
        width: 350px;
    }
    .header__subtitle{
        margin-left: 0.5rem;
    }
   
}

